/* ======= Base ======= */
body {
  font-family: 'Lato', arial, sans-serif;
  color: #434343;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f5f5; /* Light gray background */
}
/* Links and Buttons */
a {
  color: #1958EE;
  transition: all 0.4s ease-in-out;
}

a:hover {
  text-decoration: none;
  color: #2d844e; /* Darker green on hover */
}

.btn,
a.btn {
  display: inline-block; /* Set display to inline-block */
  transition: all 0.4s ease-in-out;
  font-family: 'Montserrat', arial, sans-serif;
  padding: 12px 20px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.btn .fa,
a.btn .fa {
  margin-right: 8px; /* Slightly increased margin */
}

.btn:focus,
a.btn:focus {
  outline: none;
}

.btn-cta-primary,
a.btn-cta-primary {
  background: #54ba4e;
  color: #fff;
}

.btn-cta-primary:hover,
a.btn-cta-primary:hover {
  background: #49ac43;
}

.btn-cta-secondary,
a.btn-cta-secondary {
  background: #479fc8;
  color: #fff;
}

.btn-cta-secondary:hover,
a.btn-cta-secondary:hover {
  background: #3893bd;
}


/* Text Styling */
.text-highlight {
  color: #32383e;
  font-weight: bold;
}

/* Header */
.header {
  padding: 30px 0;
  background: #f5f5f5;
  border-top: 10px solid #999999; /* The top bar */
  text-align: left;
}
.header .btn {
  margin-top: 30px;
}

.navbar-nav{
  margin-top: 60px;
  font-size: 15px;
  border-radius: 10px;
  background-color: #D9EAD3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}  
.navbar-nav > li > a {
  transition: background-color 0.3s ease; /* Adding a transition effect */
}

.navbar-nav > li > a:hover {
   border-radius: 10px;
   transform: scale(1.1);
}

/*
.topnav .dropdown:hover .dropdown-menu {
    display: block;
}*/

.header .profile-image {
    margin-top: 18px;
    margin-right: 20px;
    max-width: 140px;
    border-radius: 45%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease-in-out;
}
.profile-image:hover {
    transform: scale(1.3);
}

.profile-content {
    text-align: left;
}
.header .profile-content .name {
  font-size: 25px; /* Slightly smaller font size */
  margin-top: 18px; /* Increased margin */
  color: #800080;
}
.header .profile-content .desc {
  color: #800000; /* #007bff;*/
  font-size: 18px;
  margin-top: 12px; /* Increased margin */
  font-family: 'Roboto', sans-serif;
}
.header .profile-content .social a {
  background: #b0b7bf;
  width: 36px;
  height: 36px;
  display: inline-block;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 36px;
  margin: 0 5px;
}
.header .profile-content .social a:hover {
  background: #00FFFF;
}

/* Sections */
.section {
  margin-bottom: 40px; /* Increased margin */
}
.section .section-inner-index {
  background: #fff;
  padding: 30px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin-right: 30px;
  max-height: 418px; 
}

@media only screen and (max-width: 767px) {
  .section .section-inner-index {
    max-height: none; /* Remove fixed height for mobile devices */
  }
}

.section .section-inner{
  background: #fff;
  padding: 30px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin-right: 30px;
}
.section .heading {
  margin-top: 0;
  margin-bottom: 20px; /* Reduced margin */
  color: #545e69;
  font-size: 24px;
}

/* About Section */
/* Latest Section */
.latest .item {
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.latest .item .title {
  font-size: 18px;
  margin-top: 0;
  color: #2d844e; /* Dark green title */
}
.latest .item .project-image:hover {
  opacity: 0.8;
}

/* Testimonials section */
.testimonials .item {
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.testimonials .item .quote {
  color: #666666;
  font-size: 16px;
  margin-bottom: 15px;
}
.testimonials .item .source {
  font-size: 14px;
  font-weight: 500;
  color: #939ea9;
}
.testimonials .item .source .name {
  color: #49515a;
  font-weight: 600;
}
.testimonials .item .source .title {
  color: #778492;
}

/* Footer */
.footer {
  background: #32383e;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.footer .copyright {
  line-height: 1.6;
  color: #a1aab4;
  font-size: 14px;
}
.footer a {
  color: #fff;
}
.footer .fa-heart {
  color: #fb866a;
}

.content{
  text-align: justify;
}
.content p{
  margin: 0 0 40px;
}

.gradient-list li {
  margin-right: 20px; /* Adjust the value as needed */
}


/* Publication */
.section-inner#pub {
    background-color: #f9f9f9; /* Change to your desired color */
    background-size: cover; /* Adjust as needed */
    font-size: 15px; /* Smaller text size */
    
}
.section-inner#pub b {
        color: #800080; /* Change this to the desired color */
    }

.name {
    font-size: 27px;
    white-space: nowrap;
    overflow: hidden;
    color: #800080;
    /* border-right: 3px solid black; Typewriter effect */
  }


/* latest news */
.container_news {
    max-width: 800px;
    /*margin: 2px auto;*/
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    overflow-y: auto; /* Add vertical scrollbar if needed */
    max-height: 418px; /* Set maximum height for the container */
}

.heading_news {
    font-size: 23px;
    margin: 10px auto;
    margin-bottom: 20px;
    color: #333;
}

.news-list {
    list-style-type: none;
    padding: 0;
}

.news-item {
    margin-bottom: 10px; /* Reduced spacing between news items */
    transition: transform 0.3s; /* Smooth transition on hover */
}

.news-item p {
    font-size: 14px; /* Smaller text size */
    color: #333;
    margin: 0;
}

.news-item:hover {
    transform: scale(1.05); /* Zoom effect on hover */
}

.news-item p strong {
    text-decoration: underline; /* Underline dates */
}

.index-container {
            font-family: Georgia, serif; /* Set font to Georgia (serif) */
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px; /* Add margin bottom for gap */
}
.index-list {
            font-size: 14px; /* Smaller text size */
            color: #333;
            margin-left: 20px;
 }
